<h1>Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Room</th>
      <th>Arrive</th>
      <th>Departure</th>
      <th>User</th>
      <th>Verified</th>
      <th>Created</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.room.title %></td>
        <td><%= booking.arrive %></td>
        <td><%= booking.departure %></td>
        <td><%= booking.user.email %></td>
        <td><%= booking.verified %></td>
        <td><%= booking.created_at %></td>
        <td><%= link_to 'Accept', settrue_admin_booking_path(booking), method: :put %></td> 
        <td><%= link_to 'Dicline', setfalse_admin_booking_path(booking), method: :put %></td> 
        <td><%= link_to 'Destroy', admin_booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

