<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user.email %>
</p>

<p>
  <strong>UserName:</strong>
  <%= @review.name %>
</p>

<% if current_user == @review.user %>
<%= link_to 'Destroy', @review, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', reviews_path %>
